<div class="jumbotron">
    <p class="lead">
        Monsters
    </p>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Haunting start</th>
        <th>Haunting end</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="monster in priserky">
        <td>{{monster.name}}</td>
        <td>{{monster.description}}</td>
        <td>{{monster.hauntedIntervalStart}}</td>
        <td>{{monster.hauntedIntervalEnd}}</td>
    </tr>
    </tbody>
</table>
