<div id="abilities">
    <h1>Monster abilities</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Assigned monsters</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ability in abilities">
                <td>{{ability.id}}</td>
                <td>{{ability.name}}</td>
                <td>{{ability.description}}</td>
                <td>
                    <div ng-repeat="monsterId in ability.monsterIds">{{monsterId}}</div>
                    <div ng-show="ability.monsterIds.length == 0">No assigned monster</div>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        Number of abilities: {{abilities.length}}
    </div>
</div>
