<div id="abilities">
    <h1>Monster abilities</h1>

    <a href="#/createAbility" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New ability
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Assigned monsters</th>
                <th>Delete ability</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ability in abilities">
                <td>{{ability.id}}</td>
                <td>{{ability.name}}</td>
                <td>{{ability.description}}</td>
                <td>
                    <div ng-repeat="monsterId in ability.monsterIds">{{monsterId}}</div>
                    <div ng-show="ability.monsterIds.length == 0">No assigned monster</div>
                </td>
                <!-- Delete button -->
                <td>
                    <button ng-click="delete(ability)"
                            type="submit"
                            class="glyphicon glyphicon-remove"
                            aria-hidden="true"
                            accesskey="" style="color: red"
                            autofocus="" style="text-decoration: none"
                            style="background: none" />
                    <!--<a ng-click="delete(ability)"
                       class="glyphicon glyphicon-remove"
                       aria-hidden="true"
                       style="color: red"
                       style="text-decoration: none" />-->
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        Number of abilities: {{abilities.length}}
    </div>
</div>
