<div id="abilities">
    <h1>Monster abilities</h1>

    <a href="#/createAbility" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New ability
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Monsters</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ability in abilities">
                <td>{{ability.id}}</td>
                <td>{{ability.name}}</td>
                <td>{{ability.description}}</td>
                <td>
                    <div ng-repeat="monster in monsters | filter: filterByMonsterId(ability)">{{monster.name}}</div>
                    <div ng-show="ability.monsterIds.length == 0">No assigned monster</div>
                </td>
                <!-- Update button -->
                <td>
                    <a href="#/updateAbility/{{ability}}">
                        <button class="glyphicon glyphicon-pencil"
                                aria-hidden="true"
                                accesskey="" style="color: black"
                                autofocus="" style="text-decoration: none"
                                style="background: none" />
                    </a>
                </td>
                <!-- Delete button -->
                <td>
                    <button ng-click="delete(ability)"
                            type="submit"
                            class="glyphicon glyphicon-remove"
                            aria-hidden="true"
                            accesskey="" style="color: red"
                            autofocus="" style="text-decoration: none"
                            style="background: none" />
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        Number of abilities: {{abilities.length}}
    </div>
</div>
