<h1>Create new cursed object</h1>
<br><br>
<form name="form" novalidate class="form-horizontal">
    <div class="form-group" ng-class="{'has-error': !(form.name.$valid)}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input placeholder="Name" id="name" type="text" ng-minlength="1" name="name" class="form-control" ng-model="cursedObject.name" required/>
            <p class="help-block" ng-show="form.name.$error.required">Name is required.</p>
            <p class="help-block" ng-show="form.name.$error.minlength">Name must not be empty.</p>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': !(form.description.$valid)}">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <textarea placeholder="Description" ng-minlength="5" required cols="80" rows="10" id="description" name="description" class="form-control" ng-model="cursedObject.description"></textarea>
            <p class="help-block" ng-show="form.description.$error.minlength">Description must be at least 5 characters long.</p>
        </div>
    </div>

    <!-- Monster attraction dropdown list -->
    <div class="form-group" ng-class="{'has-error':
         form.monsterAttractionFactor.$invalid
         || form.monsterAttractionFactor.$error.required
         || form.monsterAttractionFactor.$pristine}">
        <label for="monsterAttractionFactor" class="col-sm-2 control-label">Monster attraction factor</label>
        <div class="col-sm-10">
            <select
                id="monsterAttractionFactor"
                name="monsterAttractionFactor"
                class="form-control"
                ng-model="cursedObject.monsterAttractionFactor"
                required>
                <option selected disabled value="">-- Select monster attraction factor --</option>
                <option value="LOW">Low</option>
                <option value="MEDIUM">Medium</option>
                <option value="HIGH">High</option>
                <option value="INSANE">Insane</option>
                <p class="help-block" ng-show="form.monsterAttractionFactor.$invalid
                   || form.monsterAttractionFactor.$error.required
                   || form.monsterAttractionFactor.$pristine">Select monster attraction factor.</p>
            </select>
        </div>
    </div>

    <!-- House dropdown list -->
    <div class="form-group" ng-class="{'has-error': form.houseId.$invalid || form.houseId.$error.required || form.houseId.$pristine}">
        <label for="houseId" class="col-sm-2 control-label">House</label>
        <div class="col-sm-10">
            <select
                id="houseId"
                name="houseId"
                class="form-control"
                ng-model="cursedObject.houseId"
                convert-to-int
                required
                ng-options="house.id as house.name for house in houses track by house.id">
                <option selected disabled value="">-- Select house --</option>
                <p class="help-block" ng-show="form.houseId.$invalid || form.houseId.$error.required || form.houseId.$pristine">Select a house.</p>
            </select>
        </div>
    </div>

    <button ng-disabled="form.$invalid" class="btn btn-primary" type="submit" ng-click="create(cursedObject)">Create cursed object</button>
</form>
