<div id="cursedObjects">
    <h1>Cursed objects</h1>

    <div ng-show="isUser" style="padding-top: 20px; padding-bottom: 20px">
        <a href="#/createCursedObject" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New cursed object
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th ng-show="isAdmin">Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Monster attraction Factor</th>
                <th>House</th>
                <th ng-show="isUser">Update</th>
                <th ng-show="isAdmin">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cursedObject in cursedObjects">
                <td ng-show="isAdmin">{{cursedObject.id}}</td>
                <td>{{cursedObject.name}}</td>
                <td>{{cursedObject.description}}</td>
                <td>{{cursedObject.monsterAttractionFactor.toLowerCase()}}</td>
                <td>
                    <div ng-repeat="house in houses | filter: houseIdFilter(cursedObject.houseId)">{{house.name}}</div>
                </td>
                <!-- Update button -->
                <td>
                    <a ng-show="isUser" href="#/updateCursedObject/{{cursedObject.id}}">
                    <button
                        class="glyphicon glyphicon-pencil"
                        aria-hidden="true"
                        accesskey=""
                        style="color: black"
                        autofocus="" />
                    </button>
                    </a>
                </td>
                <!-- Delete button -->
                <td>
                    <button
                        ng-show="isAdmin"
                        ng-click="delete(cursedObject)"
                        type="submit"
                        class="glyphicon glyphicon-remove"
                        aria-hidden="true"
                        accesskey=""
                        style="color: red"
                        autofocus="" />
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div ng-show="isUser" style="padding-bottom: 20px">
    <form name="form" class="form-inline">
        <select required id="threshold" ng-model="threshold.threshold">
            <option value="" disabled selected hidden>Select threshold</option>
            <option value="LOW">Low</option>
            <option value="MEDIUM">Medium</option>
            <option value="HIGH">High</option>
            <option value="INSANE">Insane</option>
        </select>
        <button ng-disabled="!form.$valid" type="submit" class="btn btn-primary" ng-click="increaseFactor(threshold)">Mass increase monster attraction factor</button>
    </form>
    </div>
    
    <div>
        Number of cursed objects: {{cursedObjects.length}}
    </div>
</div>
