<div id="cursedObjects">
    <h1>Cursed objects</h1>

    <div ng-show="isUser" style="padding-top: 20px; padding-bottom: 20px">
        <a href="#/createCursedObject" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New cursed object
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Monster attraction Factor</th>
                <th>House</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cursedObject in cursedObjects">
                <td>{{cursedObject.id}}</td>
                <td>{{cursedObject.name}}</td>
                <td>{{cursedObject.description}}</td>
                <td>{{cursedObject.monsterAttractionFactor}}</td>
                <td>
                    <div ng-repeat="house in houses | filter: houseIdFilter(cursedObject.houseId)">{{house.name}}</div>
                </td>
                <!-- Update button -->
                <td>
                    <a ng-show="isUser" href="#/updateCursedObject/{{cursedObject.id}}">
                    <button
                        class="glyphicon glyphicon-pencil"
                        aria-hidden="true"
                        accesskey=""
                        style="color: black"
                        autofocus="" />
                    </button>
                    </a>
                </td>
                <!-- Delete button -->
                <td>
                    <button
                        ng-show="isAdmin"
                        ng-click="delete(cursedObject)"
                        type="submit"
                        class="glyphicon glyphicon-remove"
                        aria-hidden="true"
                        accesskey=""
                        style="color: red"
                        autofocus="" />
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
