<div id="abilities">
    <h1>Houses</h1>

    <div ng-show="isUser" style="padding-top: 20px; padding-bottom: 20px">
        <a href="#/createHouse" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New house
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th ng-show="isAdmin">Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Monsters</th>
                <th>Cursed objects</th>
                <th ng-show="isUser">Update</th>
                <th ng-show="isAdmin">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="house in houses">
                <td ng-show="isAdmin">{{house.id}}</td>
                <td>{{house.name}}</td>
                <td>{{house.address}}</td>
                <td>
                    <div ng-repeat="monster in monsters | filter: filterByMonsterId(house)">{{monster.name}}</div>
                    <div ng-show="house.monsterIds.length == 0">No assigned monsters</div>
                </td>
                <td>
                    <div ng-repeat="cursedObject in cursedObjects | filter: filterByCursedObjectId(house)">{{cursedObject.name}}</div>
                    <div ng-show="house.cursedObjectIds.length == 0">No assigned cursed objects</div>
                </td>
                <!-- Update button -->
                <td>
                <a ng-show="isUser" href="#/updateHouse/{{house.id}}">
                    <button
                        class="glyphicon glyphicon-pencil"
                        aria-hidden="true"
                        accesskey=""
                        style="color: black"
                        autofocus="" />
                    </button>
                </a>
                </td>
                <!-- Delete button -->
                <td>
                    <button
                        ng-show="isAdmin"
                        ng-click="delete(house)"
                        type="submit"
                        class="glyphicon glyphicon-remove"
                        aria-hidden="true"
                        accesskey=""
                        style="color: red"
                        autofocus="" />
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div>
        Number of houses: {{houses.length}}
    </div>
</div>
