<div class="updateMonster">
    <h1>Update monster: {{monster.name}}</h1>

    <form name="form" novalidate class="form-horizontal">

        <!-- Name -->
        <div class="form-group" ng-class="{'has-error': !(form.name.$valid)}">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input ng-attr-placeholder="{{monster.name}}"
                       id="name"
                       type="text"
                       ng-minlength="1"
                       name="name"
                       class="form-control"
                       ng-model="monster.name"
                       required />
                <p class="help-block" ng-show="form.name.$error.required">Name is required.</p>
                <p class="help-block" ng-show="form.name.$error.minlength">Name must not be empty</p>
            </div>
        </div>

        <!-- Description -->
        <div class="form-group" ng-class="{'has-error': !(form.description.$valid)}">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea placeholder="{{monster.description}}" ng-minlength="5" required cols="80" rows="20" id="description" name="description" class="form-control" ng-model="monster.description"></textarea>
                <p class="help-block" ng-show="form.description.$error.minlength">Description must be at least 5 characters long.</p>
            </div>
        </div>

        <!-- Haunted interval -->
        <div class="form-group" ng-class="{'has-error': !(form.hauntedIntervalStart.$valid)}">
            <label for="hauntedIntervalStart" class="col-sm-2 control-label">Haunting start</label>
            <div class="col-sm-10">
                <textarea placeholder="{{monster.hauntedIntervalStart}}" ng-minlength="1" required cols="80" rows="1" id="hauntedIntervalStart" name="hauntedIntervalStart" class="form-control" ng-model="monster.hauntedIntervalStart" ng-pattern="/^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/"></textarea>
                <p class="help-block" ng-show="form.hauntedIntervalStart.$error.minlength">Haunting start must be at least 1 character long.</p>
                <p class="help-block" ng-show="form.hauntedIntervalStart.$error.pattern">Wrong syntax. Must be in HH:MM format.</p>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': !(form.hauntedIntervalEnd.$valid)}">
            <label for="hauntedIntervalEnd" class="col-sm-2 control-label">Haunting end</label>
            <div class="col-sm-10">
                <textarea placeholder="{{monster.hauntedIntervalEnd}}" ng-minlength="1" required cols="80" rows="1" id="hauntedIntervalEnd" name="hauntedIntervalEnd" class="form-control" ng-model="monster.hauntedIntervalEnd" ng-pattern="/^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/"></textarea>
                <p class="help-block" ng-show="form.hauntedIntervalEnd.$error.minlength">Haunting end must be at least 1 character long.</p>
                <p class="help-block" ng-show="form.hauntedIntervalEnd.$error.pattern">Wrong syntax. Must be in HH:MM format.</p>
            </div>
        </div>

        <!-- House dropdown list -->
        <div class="form-group">
            <label for="houseId" class="col-sm-2 control-label">House</label>
            <div class="col-sm-10">
                <select id="houseId"
                        name="houseId"
                        class="form-control"
                        ng-model="monster.houseId"
                        ng-options="house.id as house.name for house in houses"
                        required>
                </select>
                <p class="help-block" ng-show="form.houseId.$invalid || form.houseId.$error.required || form.houseId.$pristine">Select a house.</p>
            </div>
        </div>

        <!-- Abilities checkbox -->
        <div class="form-group">
            <label for="abilities" class="col-sm-2 control-label">Abilities</label>
            <div class="col-sm-10">
                <div ng-repeat="ability in abilities">
                    <label>
                        <input type="checkbox" ng-model="ability.checked" ng-checked="ability.checked==true" />
                        {{ability.name}}
                    </label>
                    <br/>
                </div>
            </div>
        </div>

        <button ng-disabled="!form.$valid" class="btn btn-primary" type="submit" ng-click="update(monster)">Update monster</button>
        <a href="#/monsters" class="btn btn-primary">Cancel</a>
    </form>
</div>
